.head{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-top: 10px;
    .container2{
        width: 95%;
        margin: auto;
        .logo{
            width: 6%;
        }
        .right-menu{
            color: #fff;
            i{
                margin-left: 20px;
            }
        }
        .menu{
            ul{
                .home{
                    a{
                        color: rgba(255,255,255,.55);
                    }
                }
                li{
                    a{
                        text-decoration: none;
                        padding: 20px;
                        display: block;
                        font-size: 17px;
                        color: #fff;
                        transition: 0.3s ease-in-out;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;                        
                    }
                    &:hover{
                        a{
                            color: rgba(255,255,255,.55);
                            

                        }
                    }
                    &.home{
                        position: relative;
                        &:hover{
                            .home-menu{
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0);
                                
                            }
                        }
                    }
                    .home-menu{
                        transform: translateY(30px);
                        transition: 0.3s ease-in-out;
                        opacity: 0;
                        visibility: hidden;
                        background-color: #fff;
                        width: 150px;
                        height: 300px;
                        text-align: center;
                        position: absolute;
                        border: #fff solid 1px;
                        border-radius: 5px;
                        top: 100%;
                        left: -35%;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            a{
                                padding: 18px 20px;
                                color: black;
                            }
                            i{
                                text-align: end;
                                padding: 15px;
                                position: relative;
                            }
                        }
                        .about{
                            position: relative;
                            &.about{
                                &:hover{
                                    .about-menu{
                                        transform: translateX(0);
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                            .about-menu{
                                transform: translateX(-20px);
                                transition: 0.3s ease-in-out;
                                background-color: #fff;
                                width: 100px;
                                height: 160px;
                                border: #fff solid 1px;
                                border-radius: 5px;
                                position: absolute;
                                top: 0%;
                                left: 122%;
                                opacity: 0;
                                visibility: hidden;
                                li{
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    align-items: center;
                                    a{
                                        padding: 18px 20px;
                                        color: black;
                                        font-weight: 400;
                                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// header end 
.create{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("https://lithohtml.themezaa.com/images/home-startup-slider-bg-02.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #232323;
        opacity: 0.5;
        z-index: 0;
    }
    .center-text{
        h1{
            color: white ;
            
        }
    }

}